.profile__edit-btn {
  width: 24px;
  height: 24px;
  background-color: #000;
  box-sizing: border-box;
  border: 1px solid #fff;
  margin: 0;
  padding: 0;
  align-self: center;
  background-image: url(../../../images/edit-btn.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 0.1s linear;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {

  .profile__edit-btn {
    width: 18px;
    height: 18px;
    background-size: 7px 7px;
  }
}
