.footer {
  display: flex;
  max-width: 880px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 1023px) {

  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 767px) {

  .footer {
    justify-content: center;
    max-width: 282px;
    margin-bottom: 36px;
  }
}
